@import "centurygothic.less";


@hd: 1px;
/*字体*/
// 苹方-简 常规体
@font-family-regular: PingFangSC-Regular, sans-serif;
// 苹方-简 极细体
@font-family-ultralight: PingFangSC-Ultralight, sans-serif;
// 苹方-简 细体
@font-family-light: PingFangSC-Light, sans-serif;
// 苹方-简 纤细体
@font-family-thin: PingFangSC-Thin, sans-serif;
// 苹方-简 中黑体
@font-family-medium: PingFangSC-Medium, sans-serif;
// 苹方-简 中粗体
@font-family-semibold: PingFangSC-Semibold, sans-serif;

/*字号*/
@title-font-size-large: 32px;
@title-font-size-medium: 18px;
@title-font-size-small: 16px;
@usual-font-size: 14px;
@text-font-size:12px;


/*颜色*/
@color-gold-deep: #D5A478;
@color-gold-light: #E4B992;
@color-dark-deep: #464155;
@color-dark-light: #5B556B;
@color-red-deep: #FF5000;
@color-red-light: #FF6628;
@color-unable: #BBBBBB;
@color-green-deep: #29A520;
@color-green-light: #45C53B;
@color-blue-deep: #2A77D2;
@color-blue-light: #4A8FE1;

@font-color-deep: #000000;
@font-color-light: #666666;
@font-color-base: #333333;
@font-color-white: #ffffff;

/*边框*/
@border-color-base: #ddd;

@padding: 46 * @hd;